<section class="Contact ">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 fw-bold text-uppercase mb-4">Please <span class="text-primary">Feel Free</span> To
                Contact Us
            </h1>
        </div>
        <div class="row g-0">
            <div class="col-lg-6">
                <iframe class="position-relative w-100 h-100" style="object-fit: cover"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d389532.68813259434!2d46.70492091667552!3d24.897170367533608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee370b8e35e3f%3A0xd02d6a722bb0fd08!2z2KfZhNi12K3Yp9mB2KnYjCDYp9mE2LHZitin2LY!5e0!3m2!1sar!2ssa!4v1728766690447!5m2!1sar!2ssa"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="col-lg-6">
                <app-form></app-form>
            </div>
        </div>
    </div>
</section>