.page-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4, 15, 40, .7), rgba(4, 15, 40, .7)), url(/img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 6rem;

    .oll-item {
        a {
            text-decoration: none;
        }

        a.active {
            color: var(--primary);
            font-weight: bold;
        }
    }
}