.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 15, 40, .7);
    z-index: 1;
}

h1 {
    @media (max-width: 576px) {
        font-size: 1.5rem;
    }
}