<section class="hero pt-5 ">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="w-100" src="img/carousel-1.jpg" alt="Image">
            </div>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <i class="fa fa-home fa-4x text-primary mb-4 d-none d-sm-block"></i>
                    <h1 class="text-uppercase text-white fw-bold ">Build Your Dream House With Us</h1>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Get A Quote</a>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="w-100" src="img/carousel-2.jpg" alt="Image">
            </div>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <i class="fa fa-tools fa-4x text-primary mb-4 d-none d-sm-block"></i>
                    <h1 class="text-uppercase text-white fw-bold ">We Are Trusted For Your Project</h1>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Contact Us</a>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</section>