<div class="bg-light text-center p-5">
    <form>
        <div class="row g-3">
            <div class="col-12 col-sm-6">
                <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
            </div>
            <div class="col-12 col-sm-6">
                <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
            </div>
            <div class="col-12">
                <textarea class="form-control border-0" placeholder="Subject"></textarea>
            </div>
            <div class="col-12">
                <textarea class="form-control border-0" rows="5" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Submit Request</button>
            </div>
        </div>
    </form>
</div>