form {
    .form-control {
        border: 1px solid var(--gray-700);
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 0;

        &:focus {
            outline: 5px solid var(--primary-light);
            border-color: var(--primary-light);
        }
    }
}