
<app-page-header [title]="'The team'" [breadcrumb]="[
    { label: 'Home', url: '/' },
    { label: 'pages', url: '/' },
    { label: 'The team', url: '', active: true }
]">
</app-page-header>
<div class="container-fluid py-5 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
      <h1 class="display-5 fw-bold text-uppercase mb-4">
        We Are <span class="text-primary">Professional & Expert</span> Workers
      </h1>
    </div>
    <div class="row g-4">
        <div *ngFor="let member of teamMembers" class="col-lg-3 col-md-6">
          <div class="team-item">
            <div class="overflow-hidden position-relative">
              <img class="img-fluid w-100" [src]="member.image" [alt]="member.name">
              <div class="team-social">
                <a class="btn btn-outline-gray" [href]="member.socialLinks.facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="btn btn-outline-gray" [href]="member.socialLinks.twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a class="btn btn-outline-gray" [href]="member.socialLinks.linkedin" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="btn btn-outline-gray" [href]="member.socialLinks.instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="btn btn-outline-gray" [href]="member.socialLinks.youtube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
            <div class="card-text text-center p-4">
              <h5 class="mb-0 fw-bold">{{ member.name }}</h5>
              <p>{{ member.position }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>