<section class="about-us">
    <div class="container-fluid p-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <h1 class="display-5 fw-bold text-uppercase mb-4">We are <span class="text-primary">the Leader</span> in
                    Construction Industry</h1>
                <h4 class="text-uppercase mb-3 ">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum
                    tempor sit diam amet diam et eos labore</h4>
                <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua
                    sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et
                    sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor</p>
                <div class="row gx-5 py-2">
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Perfect Planning</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Professional Workers</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>First Working Process</p>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Perfect Planning</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Professional Workers</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>First Working Process</p>
                    </div>
                </div>
                <p class="mb-4">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et,
                    tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos labore</p>
            </div>
            <div class="col-lg-5 pb-5 mt-0 mt-lg-5" style="min-height: 400px;">
                  <div class="position-relative bg-dark-radial h-100 ms-5">
                      <img class="mt-5" src="img/about.jpg">
                  </div>
            </div>
        </div>
    </div>
</section>