<section class="service">
    <div class="container-fluid bg-light p-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 fw-bold text-uppercase mb-4">We Provide
                <span class="text-primary">The Best</span>
                Construction Services
            </h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <app-service-item [imageSrc]="'img/service-1.jpg'" [iconClass]="'fa fa-building'"
                    [address]="'Building Construction'"
                    [description]="'Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo'"
                    [link]="'#'">
                </app-service-item>
            </div>
            <div class="col-lg-4 col-md-6">
                <app-service-item [imageSrc]="'img/service-2.jpg'" [iconClass]="'fa fa-home'"
                    [address]="'House Renovation'"
                    [description]="'Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo'"
                    [link]="'#'">
                </app-service-item>
            </div>
            <div class="col-lg-4 col-md-6">
                <app-service-item [imageSrc]="'img/service-3.jpg'" [iconClass]="'fa fa-drafting-compass'"
                    [address]="'Architecture Design'"
                    [description]="'Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo'"
                    [link]="'#'">
                </app-service-item>
            </div>
            <div class="col-lg-4 col-md-6">
                <app-service-item [imageSrc]="'img/service-4.jpg'" [iconClass]="'fa fa-palette'"
                    [address]="'Interior Design'"
                    [description]="'Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo'"
                    [link]="'#'">
                </app-service-item>
            </div>
            <div class="col-lg-4 col-md-6">
                <app-service-item [imageSrc]="'img/service-5.jpg'" [iconClass]="'fa fa-tools'"
                    [address]="'Fixing & Support'"
                    [description]="'Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo'"
                    [link]="'#'">
                </app-service-item>
            </div>
            <div class="col-lg-4 col-md-6">
                <app-service-item [imageSrc]="'img/service-5.jpg'" [iconClass]="'fa fa-paint-brush'"
                    [address]="'Painting'"
                    [description]="'Duo dolore et diam sed ipsum stet amet duo diam. Rebum amet ut amet sed erat sed sed amet magna elitr amet kasd diam duo'"
                    [link]="'#'">
                </app-service-item>
            </div>
        </div>
    </div>
</section>