<h1>Cute Pets Gallery</h1>
The Little Details #CodePenChallenge: Gallery Details
<div class="gallery">
  <app-image-roll 
  [imgSrc]="'https://assets.codepen.io/652/the-lucky-neko-CM7a-XBD4AU-unsplash.jpg'"
   [captionText]="'Kitten: Ollie (12 Weeks)'">
  
   <div class="food-info">
    <h4 class="food-name">Burger</h4>
    <span class="food-price">12 SAR</span>
</div>
  </app-image-roll>
  <app-image-roll
   [imgSrc]="'https://assets.codepen.io/652/karsten-winegeart-NE0XGVKTmcA-unsplash.jpg'"
    [captionText]="'Puppy: Barney (9 Weeks)'"></app-image-roll>
  <app-image-roll 
  [imgSrc]="'https://assets.codepen.io/652/kabo-NjWZ07sPEJE-unsplash.jpg'" 
  [captionText]="'Cat: Walter (5 Years)'"></app-image-roll>
  <app-image-roll 
  [imgSrc]="'https://assets.codepen.io/652/giacomo-lucarini-7M0SG3ZKdlE-unsplash.jpg'" 
  [captionText]="'Dog: Miss Sunshine (2 Years)'"></app-image-roll>
  <app-image-roll
   [imgSrc]="'https://assets.codepen.io/652/sergey-semin-Y0WXj3xqJz0-unsplash.jpg'" 
   [captionText]="'Kitten: Reese (8 Weeks)'"></app-image-roll>
  <app-image-roll 
  [imgSrc]="'https://assets.codepen.io/652/jordan-bigelow-X5VoG4MA5aI-unsplash.jpg'"
   [captionText]="'Puppy: Bruce (10 Weeks)'"></app-image-roll>
</div>
