
<div class="portfolio-item">
    <div class="portfolio-box">
        <img class="img-fluid w-100" [src]="imageSrc" [alt]="projectName">
        <a class="portfolio-title" [href]="link">
            <p class="h4 text-uppercase">{{ projectName }}</p>
            <span class="text-body">
                <i class="fa fa-map-marker-alt text-primary me-2"></i>{{ location }}
            </span>
        </a>
        <a class="portfolio-btn" [href]="imageSrc">
            <i class="fa-solid fa-plus text-white"></i>
        </a>
    </div>
</div>